@import "../../../../assets/style/index"


.box
    width: 100%
    height: auto

    padding-top: $padding

    * h1
        font-size: 2rem
        text-transform: uppercase

    * h2
        font-size: 2rem
        line-height: 2.75rem


    * button
        background-color: $black
        color: $white

.boxContent
    width: 100%
    height: 100%
    max-width: $standard_max_width
    margin: 0 auto

.boxItems
    width: 100%
    height: 65vh
    min-height: 40rem


    display: flex
    justify-content: flex-start
    align-items: center

    position: relative

    @include sm
        justify-content: center
        min-height: auto
        height: 100vh
        align-items: flex-end

.boxCardSection
    width: 40%
    min-height: 10rem

    @include md
        width: 50%

    @include sm
        width: 100%
        padding: 0 $padding-sm


.boxCard
    width: 100%
    height: auto

    > div
        margin-top: $padding-sm

        &:nth-child(1)
            margin-top: 0


.boxImage
    position: absolute
    left: 5rem
    width: calc(100vw - #{$padding})
    height: 100%

    background-color: $white

    border-top-left-radius: $radius
    border-bottom-left-radius: $radius

    @include sm
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 85%

        border-radius: $radius
